---
layout: default
head_content:
  <link rel="alternate" type="application/atom+xml" href="http://hamxiaoz.com/feed/" />
---

<div class="listing">
    {% for post in paginator.posts %}
        {% if post.type == 'link' %}
            <article class="other link">
            <header>
            <span class="icon" title="This is a link elsewhere"></span>
            <h2><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></h2>
            </header>
            {{ post.content }}
            </article>
        {% else %}
            <article>
            <header>
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate="">{{ post.date | date: "%b %d, %Y" }}</time>
            <h2><a href="{{ post.url }}/">{{ post.title }}</a></h2>
            </header>
            <!--<p>{{ post.excerpt }} <a href="{{ post.url }}/" class="continue">Read More</a></p>-->
            {% if category != '0' %}
                <p class="categories"> <categories>{{ post.categories | category_links }}</categories> </p>
            {% endif %}
            </article>
        {% endif %}
    {% endfor %}

    <div class="pagination">
        {% if paginator.next_page %}
            <a class="prev-a" href="{{paginator.next_page}}">← Older</a>
        {% endif %}
        {% if paginator.previous_page %}
            <a class="next-a" href="{{paginator.previous_page}}">Newer →</a>
        {% endif %}
    </div>
</div>
