---
layout: default
park_link: /park
---

<div class="ui grid hero">
  <div class="sixteen wide mobile ten wide tablet ten wide computer column">
    <div class="description">
      <h3 class="ui header hello">Hello, I'm Andrew Zheng</h3>
      <p>A
        <span class="more-details"
        data-position="bottom left"
        data-tooltip="Click to see my understanding of full stack"
        data-inverted="">
          <a href="https://medium.com/@hamxiaoz/what-is-full-stack-c8c06e3c4f13#.sydn5rkcp" target="_blank">full stack developer</a>
        </span> with 10+ years experience of crafting software (web/mobile/win32) and drinking coffee.</p>
      <p>I love solving problems, and I believe that
        <span class="more-details"
              data-position="bottom left"
              data-tooltip="&quot;Problem-solving leaders have one thing in common: a faith that there's always a better way.&quot; - Gerald M. Weinberg, Becoming a Technical Leader"
              data-inverted="">
        there is always a better way
        </span>. Although that usually means extra hours and more trips to Philz coffee, but it’s <b>my passion</b> to deliver the most delightful experience to the user.</p>

      <p> I strive for
        <span class="more-details"
              data-position="bottom left"
              data-tooltip="&quot;Simplicity is the ultimate sophistication.&quot; - Leonardo da Vinci"
              data-inverted="">
          simplicity
        </span>, and <code class="code-gu">I.enjoy((idea)=&gt; product);</code>
      </p>
      <p>
        Recently, I’m
        <span class="more-details"
              data-position="bottom left"
              data-tooltip="Click to read my lesson learned"
              data-inverted="">
            <a href="https://medium.com/bcgdv-engineering/12-things-i-wish-id-known-before-becoming-a-lead-engineer-91d2508f3a6" target="_blank">leading a 10+ engineering team</a>
          </span> as CTO and building ventures with IoT and AI at <a href="https://www.bcgdv.com/" target="_blank">BCG Digital Ventures</a>.
      </p>
      <p>
      </p>

      <div class="ui horizontal link list">
        <a class="item trackable" data-ga="medium" href="https://medium.com/@hamxiaoz" target="_blank"><i class='medium icon'></i>Medium</a>
        <a class="item" href="/blog"><i class="write icon"></i>Blog: 有风自南</a>
        <a class="item" href="/books"><i class='book icon'></i>Reading</a>
        <a class="item trackable" data-ga="500px" href="https://500px.com/hamxiaoz" target="_blank"><i class="camera retro icon"></i>Photo</a>
        <a class="item">
          <span data-position="bottom left"
                data-tooltip="&quot;Can you find any hidden pages on my site?&quot;">
            <i class="help icon"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="sixteen wide mobile six wide tablet six wide computer column">
    <img class="ui image" src="/assets/images/hero.png">
    <div class="stamp">
      {% include contact.html %}
    </div>
  </div>
</div>

<div class="ui center aligned container site-tab">
  <div class="ui compact menu">
    <a class="item active" data-tab="recent">Recent<div class="floating ui red tiny label">new</div></a>
    <a class="item" data-tab="professional">Work</a>
    <a class="item" data-tab="projects">Projects</a>
    <a class="item" data-tab="design">Design</a>
    <a class="item" data-tab="resume">Resume</a>
  </div>
</div>

<!--recent tab-->
<div class="ui tab active" data-tab="recent">
  <ul>
    <li>
      <a class="trackable" data-ga="project-monokai-slate-vscode" href="https://marketplace.visualstudio.com/items?itemName=zurassic.monokai-slate" target="_blank">
        VSCode dark theme: Monokai Slate - The best Monokai based dark theme for JavaScript developers and markdown readers
      </a>
      <p>
          My popular (34k+ downloads) Monokai theme for Atom is now ported to VSCode with extra updates.
      </p>
    </li>
    <li>
      <a class="trackable" data-ga="medium-12-things-lead-engineer" href="https://medium.com/bcgdv-engineering/12-things-i-wish-id-known-before-becoming-a-lead-engineer-91d2508f3a6" target="_blank">
        12 Things I Wish I’d Known Before Becoming a Lead Engineer
      </a>
      <p>
          Things I have learned after running 10 people engineering team and launched the new company in Singapore.
      </p>
    </li>
    <li>
      <a class="trackable" data-ga="medium-FP-in-JS" href="https://medium.com/@hamxiaoz/functional-programming-in-typescript-javascript-d9d79663bc4" target="_blank">
        Functional programming in TypeScript/JavaScript
      </a>
      <p>
          A collection of my writings to thinking in functional programming with TypeScript/JavaScript.
      </p>
      <ul>
        <li>
          <a class="trackable" data-ga="medium-FP-in-JS-point-free" href="https://itnext.io/whats-point-free-style-in-typescript-39337000c8cb" target="_blank">
            What’s Point Free Style in TypeScript?
          </a>
        </li>
        <li>
          <a class="trackable" data-ga="medium-FP-in-JS-thinking-in-array" href="https://itnext.io/thinking-in-array-list-38ff53c1c739" target="_blank">
            Thinking in Array/List
          </a>
        </li>
        <li>
          <a class="trackable" data-ga="medium-FP-in-JS-understand-reduce" href="https://itnext.io/how-to-understand-reduce-d246b7a70f78" target="_blank">
            How to understand reduce()?
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a class="trackable" data-ga="medium-vscode" href="https://medium.com/@hamxiaoz/know-your-editor-visual-studio-code-a2613b7cf24" target="_blank">
          Know your editor: Visual Studio Code
      </a>
      <p>
        Visual Sudio Code is now my favourite code editor. I shared a collection of tips on Medium.com
      </p>
      <ul>
          <li>
            <a class="trackable" data-ga="medium-vscode-formatting-setup" href="https://medium.com/@hamxiaoz/visual-studio-code-formatting-setup-9f40a95699ce" target="_blank">
              Visual Studio Code Formatting Setup
            </a>
          </li>
          <li>
            <a class="trackable" data-ga="medium-vscode-open-folder" href="https://medium.com/zurassic/til-dev-how-to-open-folder-with-sublime-or-vs-code-from-finder-e17eeb5bf6b6" target="_blank">
              How to open folder with Sublime or VS Code from Mac Finder?
            </a>
          </li>
        </ul>
    </li>
  </ul>
</div>


<!--professional tab-->
<div class="ui tab" data-tab="professional">
  <h4 class="ui tiny header"><i class="orange trophy icon"></i>Awards</h4>
  <ul>
    <li>
       Dale Carnegie Course®: highest achievement award + breakthrough award (30 people class, 8 weeks program).
    </li>
    <li>
      ADP API Hackathon: "Smart use of API" award (ADP Marketplace API + Google Assistant + API.AI)
      <a class="trackable" data-ga="hackathon-api-award" href="https://medium.com/zurassic/what-i-learned-from-hackathons-in-adp-7ab1b03b2476" target="_blank">
        What I learned?
      </a>
    </li>
    <li>
      ADP UX Hackathon: 1st place (Vue.js + D3.js + Electron)
      <a class="trackable" data-ga="hackathon-ux-1st" href="https://medium.com/zurassic/what-i-learned-from-hackathons-in-adp-7ab1b03b2476" target="_blank">
        What I learned?
      </a>
    </li>
  </ul>

  <h4 class="ui tiny header">Delivered</h4>
  <ul>
    <li>
       ADP Paycard Experience in <a class="trackable" data-ga="adp-mobile-app" href="https://itunes.apple.com/us/app/adp-mobile-solutions/id444553167?mt=8" target="_blank">ADP Mobile App</a>, built on Angular.
       <p>
          #1 Free Business App in App Store, 13 Million Registered User.
       </p>
    </li>
    <li>
      CMServer: internal configuration management web app, built on Meteor.js.
      <p>
        Read more:
        <a class="trackable" data-ga="cmserver" href="https://medium.com/p/6ca6ecc660ac" target="_blank">
          How a chrome extension evolved to a web app
        </a>
      </p>
    </li>
    <li>
      CMTool: electron app built on React.js with Occlusion Culling and in-app code editor.
      <p>
        Read more:
        <a class="trackable" data-ga="cmtool" href="https://medium.com/p/d7f81175571a" target="_blank">
          Design and tech highlights
        </a>
      </p>
    </li>
    <li>
      InfinityTuner Wizard: custom JSON and JavaScript based DSL, asynchronous UI and heavy use of SQLite3 database.
      <p>
        Read more:
        <a class="trackable" data-ga="infinitytuner" href="https://medium.com/p/152596e910bb" target="_blank">
          The state-of-the-art ECU deserves a state-of-the-art program.
        </a>
      </p>
    </li>
    <li>
      AQ-1 Data Logger Software: real-time data view in custom list view control and high performance custom USB driver.
      <p>
        Read more:
        <a class="trackable" data-ga="aq-1" href="https://medium.com/p/ef1a13a6bdc6" target="_blank">
          "The software is straight forward, easy to setup and use."
        </a>
      </p>
    </li>
    <li>
       AEMTuner: best real-time engine tuning software, written in C++ and C#.
       <p>
        Read more:
        <a class="trackable" data-ga="aemtuner" href="https://www.youtube.com/watch?v=bkGrq8ACyR8" target="_blank">
          Top 10 features, 75k view.
        </a>
       </p>
    </li>
    <li>
      Custom syntax highlight package for Atom editor.
      <p>
        Read more:
        <a class="trackable" data-ga="atom-syntax-highlight" href="https://medium.com/@hamxiaoz/portfolio-atom-syntax-highlight-package-2926a62bfd50#.1j2dy4w07" target="_blank">
          How do we improve "Engineer Experience"?
        </a>
      </p>
    </li>
    <li>
      Software release/updates server with windows client software updates checker.
      <p>
        Read more:
        <a class="trackable" data-ga="release-update-server" href="https://medium.com/@hamxiaoz/portfolio-software-release-updates-server-887dfd74b3b7#.50czowv0j" target="_blank">
          A modern solution for software release/updates
        </a> and
        <a class="trackable" data-ga="release-update-client" href="https://medium.com/@hamxiaoz/portfolio-software-updater-c535ce9998c6#.ovkfijwi3" target="_blank">
          The best interface is no interface
        </a>
      </p>
    </li>
  </ul>

  <h4 class="ui tiny header">Freelance since 2013</h4>
  <ul>
    <li>
      Full Stack JavaScript Freelance since 2013. Stack includes: Meteor.js, MongoDB, AWS S3, Paypal payment API etc.
      <p>
        Read more: <a class="trackable" data-ga="freelance" href="https://medium.com/@hamxiaoz/portfolio-freelance-d17f943c5368" target="_blank">here.</a></p>
      </p>
    </li>
  </ul>
</div>

<!--side projects tab-->
<div class="ui tab" data-tab="projects">
  <div class="ui four stackable cards">
    {% for project in site.data.projects.all %}
      {% include image-card.html data=project %}
    {% endfor %}
  </div>

  <div class="in-tab-section">
    <h4 class="ui tiny header" id="long">Photo/Video Projects</h4>
    <div class="ui four stackable cards">
      {% for project in site.data.projects.family %}
        {% include image-card.html data=project %}
      {% endfor %}
    </div>
  </div>

  <div class="in-tab-section">
    <h4 class="ui tiny header" id="quotes">Quotes</h4>
    <div class="ui one stackable cards">
      {% include random-quote-card.html %}
    </div>
  </div>
</div>

<!--design tab-->
<div class="ui tab" data-tab="design">
  {% for portfolio_meta in site.data.design %}
    <div class="ui four stackable cards">
      {% assign design_cards = portfolio_meta.data %}
      {% for card in design_cards %}
        {% include image-card.html data=card %}
      {% endfor %}
    </div>
  {% endfor %}
</div>


<!--resume tab-->
<div class="ui tab" data-tab="resume">
  <div class="ui center aligned notification container">
    <script type="text/javascript">
      function recaptchaSolved(response) {
        const div = document.querySelector('#resume-container');
        div.style.display = 'block';
        const recaptcha = document.querySelector('#g-recaptcha');
        recaptcha.style.display = 'none';
      }
      var onRecaptchaLoadCallback = function() {
        grecaptcha.render('g-recaptcha', {
          'sitekey' : '6Lf07yoUAAAAACMsMMnoIpgttW0AOFqgEWoczhYQ',
          'callback': 'recaptchaSolved'
        });
      };
    </script>

    <div id="recaptcha-container">
      <div id="g-recaptcha"></div>
      <script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoadCallback&render=explicit"
          async defer>
      </script>
    </div>

    <div id="resume-container" style="display: none">
      <div class="ui label">A rich format version of resume is coming soon. At the meantime, please email me for the latest copy of my resume. Stay thirsty, my friends.</div>
    </div>
</div>