{% capture category %}{{ post.categories | size }}{% endcapture %}

<div class="listing">
    <article>
    <header>
    <time datetime="{{ post.date | date: "%Y-%m-%d" }}" pubdate="">{{ post.date | date: "%b %d, %Y" }}</time>
    <h2><a href="{{ post.url }}/">{{ post.title }}</a></h2>
    </header>
    <!--<p>{{ post.excerpt }} <a href="{{ post.url }}/" class="continue">Read More</a></p>-->
    {% if category != '0' %}
        <p class="categories"> <categories>{{ post.categories | category_links }}</categories> </p>
    {% endif %}
    </article>
</div>

