<div class="ui link list">
  <a class="item trackable" data-ga="email" href="mailto:andrew@zurassic.com" target="_blank">
    <i class="big square envelope china-red-light icon"></i>
  </a>
  <a
    class="item trackable"
    data-ga="linkedin"
    href="https://www.linkedin.com/in/andrew-yuanzhi-zheng-46445a69?trk=nav_responsive_tab_profile_pic"
    target="_blank"
  >
    <i class="big linkedin china-red-light icon"></i>
  </a>
  <a class="item trackable" data-ga="github" href="https://github.com/hamxiaoz" target="_blank">
    <i class="big square github china-red-light icon"></i>
  </a>
  <a class="item trackable" data-ga="codepen" href="http://codepen.io/hamxiaoz" target="_blank">
    <i class="big codepen china-red-light icon"></i>
  </a>
  <a class="item trackable" data-ga="stackoverflow" href="http://stackoverflow.com/users/166286/az" target="_blank">
    <i class="big stack overflow china-red-light icon"></i>
  </a>
  <a class="item trackable" data-ga="twitter" href="https://twitter.com/hamxiaoz" target="_blank">
    <i class="big twitter china-red-light icon"></i>
  </a>
  <a class="item trackable" data-ga="medium" href="https://medium.com/@hamxiaoz" target="_blank">
    <i class="big medium china-red-light icon"></i>
  </a>
  <a class="item trackable" data-ga="500px" href="https://500px.com/hamxiaoz" target="_blank">
    <i class="big camera retro china-red-light icon"></i>
  </a>
</div>
