<a class="ui card trackable" data-ga="{{include.data.title}}" href="{{ include.data.link }}" target="_blank">
  <div class="ui image">
    {% if include.data.image %}
      <img src="{{ include.data.image }}">
    {% else %}
      <img src="{{ site.data.cloud | sample}}">
    {% endif %}
  </div>
  <div class="center aligned content">
    <div class="ui tiny header">{{ include.data.title }}</div>
    <div class="meta">{{ include.data.meta }}</div>
  </div>
  {% if include.data.tags %}
    <div class="extra content">
      <span class="date">{{ include.data.tags | inspect }}</span>
    </div>
  {% endif %}
</a>
