<div class="ui card">
  <div class="center aligned content canvas">
    <div class="ui middle aligned grid">
      <div class="row">
        <div class="column">
          <div class="ui tiny header">&quot;{{ include.data.quote }}&quot;</div>
          <div class="meta">{{ include.data.author }}</div>
        </div>
      </div>
    </div>
  </div>
  {% if include.data.links or include.data.thoughts %}
    <div class="content">
      <div>{{ include.data.thoughts }}</div>
      {% if include.data.links %}
        <ul class="ui list">
          {% for data in include.data.links %}
            <li>
              <div class="ui tiny header">
                <a href="{{ data.link }}">{{ data.title }}</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
  <div class="center aligned extra content">
    <a href="#">
      <i class="refresh icon"></i>
    </a>
  </div>
</div>
