{{ define "main" }}
{{ with .Params.external_url }}
<meta http-equiv="refresh" content="0; url={{ . }}">
<meta name="robots" content="noindex">
<script>window.location.replace("{{ . }}")</script>
<p>Redirecting… <a href="{{ . }}">Click here if not redirected.</a></p>
{{ end }}
<article class="page-content page-content--prose" itemscope itemtype="http://schema.org/BlogPosting">

    <div class="center aligned ui header">
      <h1 itemprop="name headline">{{ .Title | htmlEscape }}</h1>
      <div class="sub header">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>
      </div>
    </div>

    <div class="post-content" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ with .Params.category }}
      {{ $catName := . }}
      {{ $cat := index (where $.Site.Data.blogcategory "name" $catName) 0 }}
      {{ with $cat }}
        <div class="center aligned category-intro">
          <h4 class="ui horizontal divider disabled header">{{ .click }}</h4>
          <a href="{{ .link }}">{{ $catName }}</a>
          <p>{{ .description | safeHTML }}</p>
        </div>
      {{ end }}
    {{ end }}

</article>
{{ end }}
