---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$bg-color: #f5f5f5;
$nav-height: 50px;

$background-gray: #fefefe;
$gray: #777;
$gray2: #999;
$black: #343434;
$black2: #212121;

$canvas-color: #F5F4F0;
$canvas-shadow: #D4D4D5;
$china-red: #882A1B;
$china-red-darker:#6A1D0A;
$china-red-light: rgba(147, 34, 16, 0.67);
$china-brown: rgba(216, 187, 148, 0.47);


/* Faded out hr */
hr.soften {
  height: 1px;
  // margin: 30px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

// Customization

body {
  background-color: $bg-color;
  color: $gray;
}

header {
  margin-top: 1em;
  margin-bottom: 2em;
  min-height: 2em;
}

footer {
  margin-top: 3em;
}

// override a
a {
  color: $china-red-light;

  &:hover {
    color: $china-red;
  }
}

.ui.card>.extra a:not(.ui):hover, .ui.cards>.card>.extra a:not(.ui):hover {
  color: $china-red;
}

.ui.card>.content>a.header:hover, .ui.cards>.card>.content>a.header:hover {
  color: $china-red;
}

.section {
  padding-top: 5em;

  > .header {
    margin-bottom: 2em;
  }

}

.hero {
  background-color: $canvas-color;
  padding-bottom: 3em;
  box-shadow: 1px 6px 19px 4px $canvas-shadow;
  -moz-box-shadow: 1px 6px 19px 4px $canvas-shadow;
  box-shadow: 1px 6px 19px 4px $canvas-shadow;

  // Offset on larger screen than tablet
  @media only screen and (min-width: 768px) {
    .description {
      position: absolute;
      left: 4em;
      bottom: 4em;

      .hello {
        margin-bottom: 2em;
      }
    }
  }
}

.canvas {
  background-color: $canvas-color !important;
}

.stamp {
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.simplicity {
  text-decoration: underline;
}

.code-gu {
  color: $china-red;
  background-color: $china-brown;
}

.small.logo {
  max-height: 28px;
}

.large.logo {
  max-height: 36px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center-text {
  text-align: center;
}

.notification {
  margin-bottom: 2em;
}

.small {
  font-size: 0.85em;

  i.icon {
    font-size: 0.85em;
  }
}

.hidden.icon {
  color: $bg-color !important;
}

i.china-red-light.icon {
  color: $china-red-light !important;

  &:hover {
    z-index: 5;
    -webkit-transform: translateX(3px);
    -ms-transform: translateX(3px);
    transform: translateX(3px);
  }
}

// Blog post
.post-content {
  img {
    margin: 1.5em auto !important;
    max-width: 100%;
    height: auto;
    display: block;
    border: 10px solid white;
    box-shadow: 0 0 0 1px #D4D4D5,0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
  }

  /* Dotted hr */
  hr {
    margin: 2em 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
  }

  pre {
    padding: 1em;
  }

  :not(pre) > code {
    color: $china-red;
    background-color: $china-brown;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.category-intro {
  margin-top: 3em;
}

.comments {
  margin-top: 3em;
}

blockquote {
  box-sizing: border-box;
  margin: 1.75em 0 1.75em 0em;
  padding: 0 0 0 0.75em;

  border-left: #4A4A4A 0.2em solid;
  &.alt {
    border-left: #f2711c 0.2em solid;
  }

  font-style: italic;
}

.quote-container {
  padding: 6em 0 6em 0 !important;

  transition:all 0.3s ease;
  &.loading {
    transform: scale(0.1);
  }

  .quote-text {
    quotes: """ """ "'" "'";
    &:before {
      content: open-quote;
    }
    &:after {
      content: close-quote;
    }
  }
}

/* ann */
.ann {
  .page-header-container {
    margin-bottom: 3em;
  }
  
  .vote-header {
    color: white;
    position: absolute;
    top: 18%;
    @media only screen and (max-width: 768px) {
      top: 12%;
    }
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -20%)
  }
}