<header class="ui container center aligned">
  {{ if not .Params.hide_logo }}
    <a href="{{ .Params.logo_link | default .Site.Params.logoLink }}" class="float-left">
      <img class="small logo" src="{{ .Params.logo_image | default .Site.Params.logoImage }}"/>
    </a>
  {{ end }}
  <span class="ui header">{{ .Params.page_title }}</span>
  <span class="float-right">
    {{ with .Params.close_to_link }}
      <a href="{{ . }}"><i class="large close icon"></i></a>
    {{ end }}

    {{ with .Params.park_link }}
      <a href="{{ . }}"><i class="large hidden grid layout icon"></i></a>
    {{ end }}
  </span>
</header>
