{{ $social := .Site.Params.social }}
{{ $iconOnly := .icon_only }}
{{ with $social.github }}<a href="{{ . }}" class="social-link" aria-label="GitHub" data-label="GitHub" target="_blank" rel="noopener noreferrer"><i class="github icon"></i>{{ if not $iconOnly }}GitHub{{ end }}</a>{{ end }}
{{ with $social.linkedin }}<a href="{{ . }}" class="social-link" aria-label="LinkedIn" data-label="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="linkedin icon"></i>{{ if not $iconOnly }}LinkedIn{{ end }}</a>{{ end }}
{{ with $social.medium }}<a href="{{ . }}" class="social-link" aria-label="Medium" data-label="Medium" target="_blank" rel="noopener noreferrer"><i class="medium icon"></i>{{ if not $iconOnly }}Medium{{ end }}</a>{{ end }}
{{ with $social.x }}<a href="{{ . }}" class="social-link" aria-label="X" data-label="X" target="_blank" rel="noopener noreferrer"><i class="twitter icon"></i>{{ if not $iconOnly }}X{{ end }}</a>{{ end }}
