---
layout: default
---

<div class="post">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}" pubdate="">{{ page.date | date: "%b %d, %Y" }}</time>
    <h1>{{ page.title }}</h1>
    {{ content }}
    <p class="meta">
        {% include post/categories.html %}
    </p>
    <footer>
    <p class="pagination">
      {% if page.previous.url %}
        <a class="prev-a" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="next-a" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </p>
    </footer>
    {% unless page.sharing == false %}
        <div class="sharing">
            {% if site.twitter_tweet_button %}
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-via="{{ site.twitter_user }}" data-counturl="{{ site.url }}{{ page.url }}" >Tweet</a>
            <script type="text/javascript">
                (function(){
                 var twitterWidgets = document.createElement('script');
                 twitterWidgets.type = 'text/javascript';
                 twitterWidgets.async = true;
                 twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
                 document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
                 })();
            </script>
        {% endif %}
        {% if site.facebook_like %}
        <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
                </script>
        {% endif %}
        </div>
    {% endunless %}
    {% if site.disqus_short_name %}
      <section>
        <div id="disqus_thread" aria-live="polite">
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </section>
      {% comment %} Load script if disquss comments are enabled and `page.comments` is either empty (index) or set to true {% endcomment %}
      {% if site.disqus_short_name and page.comments != false %}
      <script type="text/javascript">
        var disqus_shortname = '{{ site.disqus_short_name }}';
        {% if page.comments == true %}
        {% comment %} `page.comments` can be only be set to true on pages/posts, so we embed the comments here. {% endcomment %}
        // var disqus_developer = 1;
        var disqus_identifier = '{{ site.url }}{{ page.url }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        var disqus_script = 'embed.js';
        {% else %}
        {% comment %} As `page.comments` is empty, we must be on the index page. {% endcomment %}
        var disqus_script = 'count.js';
        {% endif %}
        (function () {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         }());
    </script>
    {% endif %}
{% endif %}
</div>
